{{!-- 
All code found in this file is based on the osu-cs340-ecampus nodejs-starter-app repo found here:
https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<head>
    <style> 
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        nav {
            background-color: #333;
            padding: 1em;
            text-align: center;
        }
        nav a {
            color: #fff;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        p {
            margin-bottom: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
        th {
            font-weight: bold;
        }
        form {
            max-width: 400px;
        }
        form label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        form input, form select{
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }
        form button {
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            background: #000;
            color: #fff;
            font-size: 16px;
        }
        form button:hover {
            background: #444;
        }
    </style>
</head>

<nav>
    <a href="/">Sessions Page </a>
    <a href="/classes">Classes Page </a>
    <a href="/get-assignments-ajax">Assignments Page </a>
    <a href="/get-students-ajax">Students Page </a>
    <a href="/get-registration-ajax">Registration Page</a>
</nav>

<h2>Classes</h2>

<table id="classes-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print class attributes in order --}}
        {{#each data}}
        <tr data-value={{this.classNumber}}>
            <td>{{this.classNumber}}</td>
            <td>{{this.className}}</td>
            <td>{{this.professorName}}</td>
            <td>{{this.term}}</td>
            <td>{{this.location}}</td>
            <td>{{this.meetingTime}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- /views/classes.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding a class</h2>
<p>To add a new class, please enter the information below and click 'Submit'!</p>
    <form id="add-class-form-ajax">

      <label for="input-className">Name of Class:</label>
      <input type="text" id="input-className" name="input-className" required><br>
      
      <label for="input-professorName">Professor:</label>
      <input type="text" id="input-professorName" name="input-professorName" required><br>
      
      <label for="input-term">Term:</label>
      <input type="text" id="input-term" name="input-term" required><br>
      
      <label for="input-location">Location:</label>
      <input type="text" id="input-location" name="input-location" required><br>
      
      <label for="input-meetingTime">Meeting Time:</label>
      <input type="text" id="input-meetingTime" name="input-meetingTime"><br>
      
      <button type="submit">Add Class</button>
    </form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_class.js"></script>