<!-- index.hbs -->
{{!-- Create a table --}}
<table id="classes-table">

    <h2>Classes</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print class attributes in order --}}
        {{#each data}}
        <tr data-value={{this.classNumber}}>
            <td>{{this.classNumber}}</td>
            <td>{{this.className}}</td>
            <td>{{this.professorName}}</td>
            <td>{{this.term}}</td>
            <td>{{this.location}}</td>
            <td>{{this.meetingTime}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding a class</h2>
<p>To add a new class, please enter the information below and click 'Submit'!</p>
    <form id="add-class-form-ajax">

      <label for="input-day">Name of Class:</label>
      <input type="text" id="input-className" name="input-className" required><br>
      
      <label for="input-week">Professor:</label>
      <input type="text" id="input-professorName" name="input-professorName" required><br>
      
      <label for="input-topic">Term:</label>
      <input type="text" id="input-term" name="input-term" required><br>
      
      <label for="input-topic">Location:</label>
      <input type="text" id="input-location" name="input-location" required><br>
      
      <label for="input-topic">Meeting Time:</label>
      <input type="text" id="input-meetingTime" name="input-meetingTime" required><br>
      
      <button type="submit">Add Class</button>
    </form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_class.js"></script>