<!-- index.hbs -->
{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}

{{!-- Create a table --}}
<h2>Sessions</h2>
<table id="sessions-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print session attributes in order --}}
        {{#each data}}
        <tr data-value={{this.sessionID}}>
            <td>{{this.sessionID}}</td>
            <td>{{this.classNumber}}</td>
            <td>{{this.day}}</td>
            <td>{{this.week}}</td>
            <td>{{this.topic}}</td>
            <td><button onclick="deleteSession({{this.sessionID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_session.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding a new session</h2>
<p>To add a new session, please enter the information below and click 'Submit'!</p>
    <form id="add-session-form-ajax">
      <select id="input-classNumber" name="input-classNumber" required>
        <option value="">Select a Class</option>
        {{#each classes}}
        <option value="{{this.classNumber}}">{{this.className}}</option>
        {{!-- console.log(this.id)
        console.log(this.name) --}}
        {{/each}}
      </select><br>

      <label for="input-day">Day:</label>
      <input type="text" id="input-day" name="input-day" required><br>
      
      <label for="input-week">Week:</label>
      <input type="text" id="input-week" name="input-week" required><br>
      
      <label for="input-topic">Topic:</label>
      <input type="text" id="input-topic" name="input-topic" required><br>
      
      <button type="submit">Add Session</button>
    </form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_session.js"></script>


<h2>Updating A Session Form</h2>
<p>To update a specific session, select the sessionID from the drop-down menu on the left.</p>
<form id="update-session-form-ajax">

    <label for="input-sessionID">SessionID: </label>
    <select name="input-sessionID" id="mySelect">
        <option value="test">Select a Session</option>
        {{#each data}}
        <option value="{{this.sessionID}}">{{this.week}} {{this.lname}}</option>
        {{/each}}
    </select>

    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld-update">
        <option>Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_person.js"></script>